@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7e22ce;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #171717;
  --accent: #e5e7eb;
  --accent-foreground: #171717;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #7e22ce;
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius: var(--radius);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #a855f7;
    --primary-foreground: #ffffff;
    --secondary: #1f2937;
    --secondary-foreground: #ededed;
    --accent: #1f2937;
    --accent-foreground: #ededed;
    --destructive: #7f1d1d;
    --destructive-foreground: #ffffff;
    --border: #374151;
    --input: #374151;
    --ring: #a855f7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  transition: background-color, color 0.3s ease;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera*/
  }
}
